@charset "utf-8";
html, body, footer {
	margin: 0;
	padding: 0;
}
div#wrapper,footer {
	padding: 8px;
}
div#wrapper,body,html {
	height:100%;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #444;
}
footer p {
	margin: 0;
	color: white;
}

ul.nav_bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	background-color: #444;
}
ul.nav_bar li {
	float: left;
}
ul.nav_bar li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.nav_bar li a:hover:not(.active) {
    background-color: #111;
}
ul.nav_bar li a.active {
    background-color: #4CAF50;
}

div#browse  {
	margin: 51px 5px 5px 5px;
	padding: 0;
	height: 50%;
}
div#browse div {
	margin: -4px 0 0 0;
	border: 1px solid black;
	height: 100%;
}

div#input {
	margin: 100px auto auto auto;
	padding: 0;
	border: 1px solid black;
}
div#input form p {
	display:inline;
}