@charset "utf-8";
ul.nav_bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
ul.nav_bar li {
	float: left;
}
ul.nav_bar li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.nav_bar li a:hover:not(.active) {
    background-color: #111;
}
ul.nav_bar li a.active {
    background-color: #4CAF50;
}